.team {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__slider {
        display: flex;
    }
}
