@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";
.team {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        @include h1;
    }
    &__subtitle {
        @include subtitle;
    }
    &__carousel {
        width: 1000px;
    }
}
