.team {
    &__title {
        margin: 5%;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
    &__description {
        margin: 5%;
        display: flex;
        justify-content: center;
    }
    &__social {
        margin: 5%;
        display: flex;
        justify-content: center;
        gap: 5%;
    }
}
