@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";
.pricing {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    &__title {
        @include h1;
        display: flex;
        justify-content: center;
    }
    &__subtitle {
        @include subtitle;
    }
    &__tarrifs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    &__tarif {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $main-green;
    }
}
