@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";
.gallery {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    &__title {
        @include h1;
    }
    &__subtitle {
        @include subtitle;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        img {
            margin: 2%;
            border-radius: 40px;
        }
    }
}
