@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.movie {
    &__video {
        background-color: black;
        color: white;
        padding: 3% 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__frame {
        width: 1200px;
        height: 400px;
        display: flex;
    }
    &__line {
        background-color: $main-green;
        display: flex;
        justify-content: space-around;
        height: 100px;
    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 50px;
    }
    &__subtitle {
        font-size: 25px;
    }
}
